html, body {
    font-family: 'Courier New', Courier, monospace;
}

* {
    margin: 0;
    padding: 0;
}

pre {
    width: 1000px;
    height: 100vh;
    font-size: 10px;
    line-height: 1.25;
    overflow: hidden;;
}